
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
